@import "tailwindcss";

html {
    font-family: "Radio Canada Big", sans-serif;
}

@theme {
    --color-disruption-light: var(--color-red-600);
    --color-disruption-dark: var(--color-red-800);

    --color-maintenance-light: var(--color-cyan-600);
    --color-maintenance-dark: var(--color-cyan-700);

    --color-infra-light: var(--color-indigo-600);
    --color-infra-dark: var(--color-indigo-700);

    --color-operational-light: var(--color-green-500);
    --color-operational-dark: var(--color-green-600);
}

body {
    @apply bg-gray-50 dark:bg-gray-900;
}
