@import "tailwindcss";

html {
    font-family: "Radio Canada Big", sans-serif;
}

@theme {
    --color-disruption-light: var(--color-red-600);
    --color-disruption-dark: var(--color-red-400);

    --color-maintenance-light: var(--color-amber-600);
    --color-maintenance-dark: var(--color-amber-500);

    --color-infra-light: var(--color-indigo-600);
    --color-infra-dark: var(--color-indigo-500);

    --color-operational-light: var(--color-green-600);
    --color-operational-dark: var(--color-green-600);

    --color-accent-light: var(--color-blue-600);
    --color-accent-dark: var(--color-blue-700);
}

body {
    @apply bg-gray-50 dark:bg-gray-900;
}
